<head>
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
<style>

* {
    background-color: #292929;
}

a:link {
    color:#997599;
}

a:visited {
    color:#8d5351;
}

a:hover{
    color:#626262;
}

body {
    background-color: #292929;
font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #8f8f8f;
    text-align: center;
    font-size: 20px;
}

p {
    background-color: #292929;
font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #8f8f8f;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
}

h1 {
    background-color: #292929;
font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #8f8f8f;
    font-size: 27px;
    text-align: center;
}

</style>
</head>
